{% extends 'app/base.html'%}

{% block title %} {{offer.name}} {% endblock %}

{% block content %} 
    <h3>{{ offer.service }} от компани {{ offer.company }}</h3>
    <br>
    <hr>
        <h4>{{ offer.service }}</h4>
        <p>{{ offer.description }}</p>
        <h4>{{ offer.price }}p</h4>
    <br>
    <hr>
    <form action=" {{ offer.get_url }} " method="post">
        {% csrf_token %}

        {% for field in form %}
            <div class="from-style {% if field.errors %} errors {% endif %}">
                {{ field.label_tag }}
                {{ field.errors }}
                {{ field }}
            </div>
        {% endfor%}
        
        <button type="submit">Отправить</button>
    </form>
{% endblock %}