{% extends 'app/base.html'%}

{% block title %} service {% endblock %}

{% block content %} 
    <section class="banner">
        <div class="banner__wrapper">
            <img src="../../static/img/banner.png" width="200px" height="200px" alt="" class="banner__img">
            <h1 class="banner__title">Сервис для заказа уборки квартир</h1>
        </div>
    </section>
    <section class="content">
        <div class="content__wrapper">
            <h2 class="content__title">Услуги</h2>
            <div class="content__cards">
                {% for service in services %}
                    <div class="content__card card">
                        <div class="card__img-container">
                            <a class="card_link-img" href="{{ service.get_url }}"><img src="../../static/img/x1.png" alt="" class="card_img"></a>
                        </div>
                        <a class="card__link" href="{{ service.get_url }}">{{ service }}</a>
                    </div>
                {% endfor%}
            </div>
        </div>
    </section>
{% endblock %}